.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 15%;
}

.wrapper label {
    width: 30%;
}
.wrapper input {
    width: 30%;
}